#page-header{
	background-color:#232323;
	border-bottom: 5px solid #ffc000;
	border-top: 5px solid #ffc000;
}

#page-footer{
	background-color:#232323;
	border-bottom: 5px solid #ffc000;
	border-top: 5px solid #ffc000;
}

#header-holder{
	padding-left: 0;
	padding-right: 0;
}

#menu-holder{
	padding-left: 0;
	padding-right: 0;
}

/* tab color */
.nav-tabs>li>a {
  background-color: #333333; 
  border-color: #777777;
  color:#fff;
}

/* active tab color */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #fff;
  background-color: #666;
  border: 1px solid #888888;
}

/* hover tab color */
.nav-tabs>li>a:hover {
  border-color: #000000;
  background-color: #111111;
}

.panel-title{
	color: #ffc000;
}


.panel > .panel-heading {
    background-image: none;
    background-color: #232323;
    color: #fff;

}


.announcement-title{
	color: #ffc000;
}

.img-slide{
	max-height: 600px;
	max-width:1080px;
}

.img-portrait{
	max-height: 600px;
	max-width: 800px;
}



#pic-uste{
	margin-top: 10px;
	margin-right: 25px;
	max-height: 150px;
	max-width: 150px;

}

#pic-guidance{
	margin-top: 10px;
	padding-right:10px;
	margin-left: 40px;
	max-height: 150px;
	max-width: 150px;


}

#ust-header1{
	margin-left: auto;
	margin-right: auto;
	padding-left: 30%;
	font-family: "sans-serif";
	color:#eeeeee;
	text-shadow: 2px 2px #000000;
}


#ust-header2{
	margin-left: auto;
	margin-right: auto;
	padding-left: 15%;
	font-family: "sans-serif";
	color:#eeeeee;
	text-shadow: 2px 2px #000000;
}

#ust-header3{
	margin-left: auto;
	margin-right: auto;
	padding-left: 27%;
	font-family: "sans-serif";
	color:#eeeeee;
	text-shadow: 2px 2px #000000;
}
#user-row{
	background-color:#232323;
	border-bottom: 5px solid #ffc000;
	border-top: 5px solid #ffc000;
	border-left: 5px solid #ffc000 ;
	
	border-radius: 22px;

}

.user-holder{
	
	color: #ffc000;
	text-shadow: 2px 2px #000000;
	padding-right: 20px;

}

.move-right{
	padding-left: 40px;
}

.highlight {
	color: #ff0000;
}
.whiten{
	color:#eeeeee;
	text-shadow: 2px 2px #000000
}
.pad-check{
	padding-left: 20px;
}

.btn-primary { 
  color: #FFC000; 
  background-color: #232323; 
  border-color: #AFB2B3; 
} 
 
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  color: #FFC000; 
  background-color: #545454; 
  border-color: #AFB2B3; 
} 
 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  background-image: none; 
} 
 
.btn-primary.disabled, 
.btn-primary[disabled], 
fieldset[disabled] .btn-primary, 
.btn-primary.disabled:hover, 
.btn-primary[disabled]:hover, 
fieldset[disabled] .btn-primary:hover, 
.btn-primary.disabled:focus, 
.btn-primary[disabled]:focus, 
fieldset[disabled] .btn-primary:focus, 
.btn-primary.disabled:active, 
.btn-primary[disabled]:active, 
fieldset[disabled] .btn-primary:active, 
.btn-primary.disabled.active, 
.btn-primary[disabled].active, 
fieldset[disabled] .btn-primary.active { 
  background-color: #232323; 
  border-color: #AFB2B3; 
} 
 
.btn-primary .badge { 
  color: #232323; 
  background-color: #FFC000; 
}